/*
 * Copyright (c) 2026 Analog Devices, Inc
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
        camera_sensor = &imx335;
    };
};


&imx335 {
    /* The camera initialization needs to happen after GMSL is running due to
       I2C tunnelling */
    zephyr,deferred-init;
};

&csi_interface {
    /* The CSI interface initialization needs to happen after the camera is
       initialized (now manually in code) as the driver verifies the camera is
       ready as part of its bringup */
    zephyr,deferred-init;
};

&csi_i2c {
    gmsl_ser: max96717@40 {
        compatible = "adi,max96717";
        reg = <0x40>;
    };

    gmsl_deser: max96724@27 {
        compatible = "adi,max96724";
        reg = <0x27>;
    };
};
